footer {
    padding-top: 150px;
    border-top: 1px solid #969696;
    margin-top: 250px;
    
    .cpy-right {
        color: white;
        width: 100%;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .footer-number{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
        
        a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
    }

    
    .footer-social{
        align-items: center;
        display: flex;
        padding-left: 40px;

        a {
            width: 30px;
            height: 30px;
            border: 1px solid white;
            border-radius: 30px;
            text-align: center;
            line-height: 30px;
            color: white;
            font-size: 15px;
            margin-right: 10px;
        }
    }


    form {
        display: flex;
        justify-content: flex-end;

        input {
            width: 165px;
            font-size: 14px;
            font-weight: 500;
            color: black;
            padding: 7px 9px;
            margin-right: 3px;

            &[type="submit"] {
                width: 90px;
                flex: 0 0 90px;
                background-color: #ffffff26;;
                color:white;
                border: 1px solid white;
            }
        }
    }
    
}