*{
    margin:0;
    padding: 0;
    font-family: $font-family-primary;
}
body{
    background: #1A1D22;
}
header {
    min-height: 100vh;
    position: relative;

    @media (min-width:576px){
        min-height: 0;
        padding-bottom:160px;
    }

    @media (min-width:769px){
        min-height: 0;
        padding-bottom:0;
    }

    @media (min-width:1281px){
        min-height: 100vh;
        padding-bottom: 160px;
        overflow: hidden;
    }

    .above-header {
        padding-top: 55px;

            
        div#logo{
            img {
                width: 110px;

                @media (min-width:576px){
                    width: 220px;
                }
            }
        }
    }

    
    .social-networks {
        display: none;

        @media (min-width:576px){
            display: flex;
        }

        

        a {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            color: white;
            text-decoration: none;
            border-radius: 30px;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
    
    
    .header-right-side {
        display: none;

        @media (min-width:576px){
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        
    }
    
    .find-dentist a {
        font-size: 19px;
        font-weight: 100;
        color: white;
        text-decoration: none;
        margin-left: 80px;
    }
    
    .search {
        margin-left: 20px;
    }

    .overlay-wrap {
        height: 300px;
        bottom: 0;
        position: absolute;
        width: 100%;
        background: -webkit-gradient(linear, left bottom, left top, from(#1a1d22), color-stop(13%, #1a1d22), to(rgba(255,255,255,0)));
    }
}