.container{
    @media(max-width:550px){
        padding: 0 34px;
    }
}
.cost-section{
    position: relative;
    overflow:visible;
    padding-bottom: 40px;

    @media (min-width:576px){
        overflow:hidden;
        min-height: 0;
        padding-bottom: 150px;
    }

    @media (min-width:769px){
        overflow:hidden;
        min-height: 700px;
        padding-bottom: 90px;
        padding-top: 60px;
    }

    @media (min-width:1281px){
        overflow:hidden;
        min-height: 972px;
        padding-bottom: 90px;
    }

    .cost-organize{
        @media (max-width:501px){
            display: flex;
            flex-wrap: wrap;
        }
    }

    .left-image {
        position: relative;
        right: 0;
        width: 120px;
        order: 3;

        @media (min-width:576px){
            position: absolute;
            width: auto;
            left: 17px;
            right: auto;
            top: 0;
            width:120px;
        }

        @media (min-width:769px){
            position: absolute;
            width: auto;
            left: 47px;
            right: auto;
            top: 0;
            width: 220px;
        }

        @media (min-width:1281px){
            position: absolute;
            width: auto;
            left: 47px;
            right: auto;
            top: 0;
        }

        img{
            width: 100%;
        }
    }
    .right-image {
        position: relative;
        right: 0;
        width: 120px;
        order:3;

        @media (min-width:576px){
            position: absolute;
            width: auto;
            right: 17px;
            top: 227px;
            width:120px;
        }

        @media (min-width:769px){
            position: absolute;
            width: auto;
            right: 47px;
            width:220px;
            top: 227px;
        }

        @media (min-width:1281px){
            position: absolute;
            width: auto;
            right: 47px;
            top: 227px;
        }

        

        img{
            width: 100%;
        }
    }
    
    .cost-title {
        color: $white;
        font-size: 39px;
        font-family: "Gorgone";
        font-weight: 100;
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 999;
        order:0;


        @media (min-width:576px){
            font-size: 45px;
            text-align: center;
            padding-right: 0px;
            width: 100%;
        }

        @media (min-width:769px){
            font-size: 55px;
            text-align: center;
            padding-right: 0px;
            width: 70%;
        }

        @media (min-width:1281px){
            font-size: 85px;
            text-align: center;
            padding-right: 0px;
            width: 100%;
        }
    }

    .cost-section-text {
        color: $white;
        font-size: 14px;
        text-align: left;
        width: calc(100% - 120px ); 
        font-weight: 100;
        line-height: 24px;
        margin-bottom: 30px;
        order:1;

        @media (min-width:576px){
            font-size: 16px;
            width: 60%; 
            margin: 0 auto;
            text-align: center;
            margin-bottom: 120px;
        }

        @media (min-width:769px){
            font-size: 17px;
            width: 53%; 
            margin: 0 auto;
            text-align: center;
            margin-bottom: 120px;
        }

        @media (min-width:1281px){
            font-size: 19px;
            width: 719px; 
            margin: 0 auto;
            text-align: center;
            margin-bottom: 120px;
        }

        p {
            margin: 0;

            @media (min-width:576px){
                margin: 17px 0;
            }
        }
    }
    .cost-section-text-gold {
        color: $gold;
        font-size: 18px;
        font-weight: 300;
        padding-left: 160px;
        text-align: left;
        top: 0;
        line-height: 24px;
        position: relative;
        width: calc(100% - 120px);
        padding: 0;
        order:4;
        display: flex;
        align-items: center;
        padding-left: 20px;

        @media (min-width:576px){
            width: 40%;
            margin:0 auto;
            flex: 0 0 40%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        @media (min-width:769px){
            font-size: 19px;
            text-align: center;
            line-height: 26px;
            padding-left: 0px;
            font-weight: 500;
            top: 0px;
            width: 30%;
            flex: 0 0 30%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (min-width:1281px){
            font-size: 21px;
            text-align: center;
            line-height: 28px;
            padding-left: 0px;
            font-weight: 500;
            top: 0px;
            width: 100%;
            flex: 0 0 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            position: relative;

            &:after {
                
                @media (min-width:576px){
                    content: "";
                    background: url('/wp-content/themes/aa-base-theme/build/images/Path 1857.png');
                    width: 9px;
                    height: 15px;
                    display: block;
                    position: absolute;
                    left: -35px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background-size: cover;
                }
            }

            &:before {
                content: "";
                background: url('/wp-content/themes/aa-base-theme/build/images/Path 1857.png');
                width: 9px;
                height: 15px;
                display: block;
                float: left;
                position: relative;
                top: 3px;
                margin: auto;
                background-size: cover;
                margin-right: 17px;

                @media (min-width:576px){
                   
                    position: absolute;
                    right: -35px;
                    top: 0;
                    bottom: 0;
                    margin-right: 0px;
                }
            }
        }
    }

    .white-box {
        position: absolute;
        bottom: -50px;
        width: 110px;
        height: 110px;
        padding: 10px;
        border: 1px solid $white;
        z-index: 999;
        right:0;

        @media (min-width:576px){
            bottom: -75px;
            width: 150px;
            height: 150px;
            padding: 10px;
            right:auto;
        }

        @media (min-width:769px){
            bottom: -75px;
            width: 150px;
            height: 150px;
            padding: 10px;
            right:auto;
        }

        @media (min-width:1281px){
            bottom: -130px;
            width: 220px;
            height: 220px;
            padding: 10px;
            right:auto;
        }

        .white-inside-box{
            width: 90px;
            height: 90px;
            background:$white;
            box-shadow: 1px 3px 21px 1px #0000001c;

            @media (min-width:576px){
                width: 130px;
                height: 130px;
            }
            
            @media (min-width:769px){
                width: 130px;
                height: 130px;
            }

            @media (min-width:1281px){
                width: 200px;
                height: 200px;
            }
        }
    }
}
.timing-section {
    background: $white;
    min-height: 810px;
    padding-top: 60px;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;

    @media (min-width:576px){
        min-height: 630px;
        padding-top: 60px;

    }

    @media (min-width:769px){
        min-height: 780px;
        padding-top: 160px;
    }
    
    @media (min-width:1281px){
        padding-top: 160px;
    }

    .timing-texts{
        order:0;

        @media (min-width:576px){
            order:1;
        }
    }

    .timing-image{
        order:1;

        @media (min-width:576px){
            order:0;
        }
    }
    

    .timing-image-wrap {
        width: 100%;
        height: auto;
        max-width: 668px;

        img {
            width: 100%;
            height: auto;
        }

        
    }
    .timing-text-wrap{

        @media (min-width:576px){
            padding-top: 94px;
            padding-left: 29px;
        }

        h2 {
            p{
                font-size: 39px;
                font-family: $font-text;
                font-weight: 500;
                color:$black;
                letter-spacing: 1px;
                line-height: 45px;
                text-align: center;

                @media (min-width:576px){
                    font-size: 42px;
                    line-height: 44px;
                    text-align: left;
                }

                @media (min-width:769px){
                    font-size: 55px;
                    line-height: 65px;
                    text-align: left;
                }

                

                @media (min-width:1281px){
                    font-size: 82px;
                    line-height: 84px;
                    text-align: left;
                }
            }
        }

        
    }

    .timing-text-inside {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color:$black;
        margin-top:20px;

        @media (min-width:576px){
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            margin-top:0px;
        }
    }

    .timing-time{
        font-size: 43px;
        font-family: $font-text;
        padding: 26px 43px 19px 43px;
        text-align: center;
        background: $black;
        color: $white;

        @media (min-width:576px){
            font-size: 44px;
            text-align: unset;
            padding: 26px 23px 16px 23px;
        }

        @media (min-width:769px){
            font-size: 55px;
            text-align: unset;
            padding: 40px 23px 18px 23px;
        }

        @media (min-width:1281px){
            font-size: 85px;
            text-align: unset;
            padding: 46px 43px 31px 43px;
        }

    }

    .timing-time-wrap{
        width: 100%;
        margin-top: 39px;

        @media (min-width:576px){
            position: absolute;
            right: 0;
            width: 100%;
            margin-top: 39px;
            left: 0;
        }

        @media (min-width:769px){
            position: absolute;
            right: 0;
            width: 767px;
            margin-top: 39px;
            left: 0;
        }

        @media (min-width:1281px){
            position: absolute;
            right: 0;
            width: 767px;
            margin-top: 39px;
            left: calc((100vw - 1600px));
        }

        
        .timing-time-button {
            width: 200px;
            height: 50px;
            display: flex;
            border: 1px solid #1b1e2399;
            margin-top: 15px;
            align-items: center;
            justify-content: center;
            margin: 22px auto;

            @media (min-width:576px){
                width: 282px;
                height: 70px;
                margin:22px 0;
            }

            @media (min-width:768px){
                width: 222px;
                height: 50px;
                margin: 22px 0;
            }

            a {
                font-size: 14px;
                text-decoration: none;
                color: $black;

                
                @media (min-width:576px){
                    font-size: 16px;
                }

                @media (min-width:768px){
                    font-size: 18px;
                }
            }
        }
    }


}
.steps-section {
    background: $white;
    padding-top: 144px;
    padding-bottom: 115px;
    position: relative;
    overflow: hidden;

    @media(min-width:576px){
        padding-bottom: 175px;
    }

    


    .white-box {
        position: absolute;
        top: 230px;
        right: -100px;
        width: 210px;
        height: 210px;
        padding: 15px;
        border: 1px solid #ababab;
        z-index: 999;
        display: none;

        @media (min-width:576px){
            display: block;
            width: 150px;
            height: 150px;
            right: -75px;
        }

    
        
        @media (min-width:1281px){
            display: block;
        }

        .white-inside-box{
            width: 180px;
            height: 180px;
            background: $white;
            box-shadow: 1px 3px 21px 1px #0000002e;

            @media (min-width:576px){
                display: block;
                width: 120px;
                height: 120px;
            }
        }
    }

    .container{
        position: relative;
    }

    h2 {
        font-size: 39px;
        font-family: $font-text;
        font-weight: 500;
        color: #1A1D22;
        letter-spacing: 1px;
        line-height: 45px;
        text-align: center;

        @media (min-width:576px){
            font-size: 45px;
            font-weight: 100;
            text-align: center;
        }

        @media (min-width:769px){
            font-size: 55px;
            font-weight: 100;
            text-align: center;
        }

        @media(min-width:1281px){
            font-size: 85px;
            font-weight: 100;
            text-align: center;
        }
    }

    .steps-subtitle {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        max-width: 80%;
        margin: 20px auto 60px;

        @media (min-width:576px){
            color: $black;
            font-size: 19px;
        }
    }

    .step-wrap {
        flex-wrap: wrap;
        padding: 0;

        @media (min-width:576px){
            display: flex;
            justify-content: space-between;
            padding: 0;
            padding-top: 62px;
        }

        @media (min-width:769px){
            display: flex;
            justify-content: space-between;
            padding: 0 50px;
            padding-top: 62px;
        }
    }

    .steps-box {
        
        width: 255px;
        margin: 0 auto;
        position: relative;
        left: 10px;

        @media (min-width:576px){
            width: 28vw;
            height: 28vw;
            margin:unset;
            left: auto;
        }

        @media (min-width:769px){
            width: 28vw;
            height: 28vw;
            margin:unset;
            left: auto;
        }

        
        @media (min-width:1281px){
            width: 420px;
            margin:unset;
            left: auto;
        }

        &:nth-child(2) {
            margin-top: 95px;

            @media (min-width:576px){
                margin-top: 84px;
            }

            @media (min-width:769px){
                margin-top: 164px;
            }
        }
        
        &:last-child {
            margin-top: 95px;

            @media (min-width:576px){
                margin-top: 178px;
            }

            @media (min-width:769px){
                margin-top: 328px;
            }
        }
        
        .steps-box-title {
            font-size: 50px;
            font-family: $font-text;
            position: relative;
            color:$black;
            top: -22px;
            font-weight: 100;
            text-align: center;

            @media (min-width:576px){
                font-size: 40px;
                font-family: $font-text;
                position: relative;
                color:$black;
                top: -5px;
                font-weight: 100;
                text-align: center;
            }

            @media (min-width:769px){
                font-size: 47px;
                font-family: $font-text;
                position: relative;
                color:$black;
                top: -15px;
                font-weight: 100;
                left: -26px;
                text-align: unset;
            }

            @media (min-width:1281px){
                font-size: 68px;
                font-family: $font-text;
                position: relative;
                color:$black;
                top: -22px;
                font-weight: 100;
                left: -20px;
                text-align: unset;
            }

        }

        .steps-box-text {
            font-size: 17px;
            color: $black;
            text-align: center;
            color: #1A1D22;

            @media (min-width:576px){
                font-size: 15px;
                text-align: left;
            }

            @media (min-width:769px){
                font-size: 17px;
                text-align: left;
            }
        }

        .img-box{
            position: relative;

            @media (max-width:550px){
                width: 100%;
            }

            .img-box-border {
                width: 255px;
                height: 255px;
                border: 1px solid #888888;
                position: absolute;
                z-index: 0;

                @media (min-width:576px){
                    width: 28vw;
                    height: 28vw;
                }

                @media (min-width:769px){
                    width: 24vw;
                    height: 24vw;
                }

                @media (min-width:1281px){
                    width: 354px;
                    height: 354px;
                }
            }
    
            img {
                width: 255px;
                height: 255px;
                position: relative;
                top: 20px;
                right: 20px;

                @media (min-width:576px){
                    width: 28vw;
                    height: 28vw;
                    top: 0px;
                    right: 0px;
                }

                @media (min-width:769px){
                    width: 24vw;
                    height: 24vw;
                    top: 0px;
                    right: 0px;
                }

                @media (min-width:1281px){
                    width: 354px;
                    height: 354px;
                    top: 0px;
                    right: 0px;
                }
            }
        }
    }

    
}
.before-after-section {
    padding-top: 80px;
    position: relative;
    overflow: hidden;

    @media (min-width:576px){
        padding-top: 220px;
    }
    

    h2 {
        font-size: 39px;
        letter-spacing: 1px;
        font-weight: 100;
        font-family: $font-text;
        text-align: center;
        color: $white;

        @media (min-width:576px){
            font-size: 45px;
        }
        
        @media (min-width:769px){
            margin-top:100px;
            font-size: 55px;
        }

        @media (min-width:1281px){
            font-size: 85px;
        }
    }

    .cost-section-text {
        color: $white;
        text-align: center;
        font-size: 14px;

        @media (min-width:576px){
            font-size: 16px;
        }
    }

    .decoration-steps{
        display: flex;
        position: absolute;
        left: -181px;
        transform: rotate(270deg);
        top: -145px;

        span{
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        .line{
            width: 169px;
            display: block;
            position: relative;
            margin-right: 20px;

            &:after {
                content: '';
                width: 100%;
                border-bottom: solid 1px #EDBC7F;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 1;
            }
        }
    }
}

header{
    .hero-image {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: -1;

        @media (max-width:550px) {
            height:100%;
            overflow: hidden;
        }
        img {
            height: 100vh;
            width: auto;
            position: absolute;
            left: -40%;
            opacity: 0;
            transition-property: all;
            transition-delay: .3s;
            transition-duration:  1s;

            @media (min-width:576px){
                position: relative;
                width: auto;
                height: 100vh;
                left:0;
            }

            @media (min-width:769px){
                position: relative;
                width: 100%;
                height: auto;
                left:0;
            }
            
            &.loaded{
                opacity: 0.5;
            }
            
        }
    }
}

.hero-content{

    h2{
        font-size: 49px;
        font-weight: 400;
        font-family: $font-text;
        color: $white;
        margin-bottom: 25px;
        opacity: 0;
        left: -100px;
        position:relative;
        transition-duration: .2s;
        transition-delay: .6s;
        transition-property: all;

        @media (min-width:576px){
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 2px;
            top:10px;
            left: 0;
        }

        @media (min-width:769px){
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 2px;
            top:10px;
            left: 0;
        }

        @media (min-width:1281px){
            font-size: 77px;
            font-weight: 600;
            letter-spacing: 2px;
            top:10px;
            left: 0;
        }

        &.loaded{
            opacity:1;
            left: 0px;

            @media (min-width:576px){
                opacity:1;
                top:0;
                left: 0;
            }
        }
    }

    .above-above-text {
        margin-top:44px;
        font-size: 14px;
        color: $gold;
        margin-bottom: 12px;
        opacity: 0;
        transition-duration: .4s;
        transition-delay: .3s;
        transition-property: all;

        @media (min-width:576px){
            margin-top: 0;
        }

        &.loaded{
            opacity:1;
        }
    }
    .below-hero-text {
        padding-right: 100px;
        font-size: 14px;
        color: $white;
        font-weight: 100;
        margin-bottom: 45px;
        opacity: 0;
        position:relative;
        top:0;
        left:-200px;
        transition-duration: .4s;
        transition-delay: .9s;
        transition-property: all;

        @media (min-width:576px){
            padding-right: 0px;
            font-size: 19px;
            top:10px;
            left:0;
        }

        @media (min-width:769px){
            padding-right: 0px;
            font-size: 17px;
            top:10px;
            left:0;
        }

        &.loaded{
            opacity:1;
            left:0;

            @media (min-width:576px){
                padding-right: 0px;
                top:0;
                font-size: 19px;
            }
        }
    }
    .hero-content-buton {
        width: 201px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        background: #ffffff26;
        color: white;
        opacity: 0;
        position:relative;
        top:0px;
        left:-200px;
        transition-duration: .4s;
        transition-delay: 1.2s;
        transition-property: all;

        @media (min-width:576px){
            width: 282px;
            height: 70px;
            top:10px;
            left:0;
        }

        &.loaded{
            opacity:1;
            left:0;

            @media (min-width:576px){
                width: 282px;
                height: 70px;
                top:0;
            }
        }

        a {
            color: $white;
            text-decoration: none;
            font-size: 17px;
            font-weight: 100;

            @media (min-width:576px){
                font-size: 20px;
            }
        }
    }

    .hero-content-inside{
        padding-left: 8px;
        height: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;

        @media (min-width:576px){
            padding-left: 0px;
            height: 824px;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        @media (min-width:769px){
            height: 68vh;
        }

        @media (min-width:1281px){
            padding-left: 70px;
            height: 824px;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
    }

    .scroll-down{
        display: flex;
        position: absolute;
        right: -60px;
        transform: rotate(270deg);
        bottom: 6px;

        @media (min-width:576px){
            right: -100px;
            z-index: 99999;
        }
        

        span {
            text-transform: uppercase;
            color: white;
            letter-spacing: 5px;
            font-size: 7px;

            @media (min-width:576px){
                font-size: 11px;
            }

            &.line {
                width: 53px;
                display: block;
                position: relative;
                margin-right: 20px;

                @media (min-width:576px){
                    width: 100px;
                }

                &:after {
                    content: '';
                    width: 100%;
                    border-bottom: solid 1px $gold;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    z-index: 1;
                }
        
            }
        }
        
    }
}


.cost-seciton-slider-box {
    margin-top: 45px;

    @media (min-width:576px){
        margin-top: 100px;
        padding-bottom: 100px;
    }
}
.swiper-container.before-after-slider {
    padding: 50px 0;
}

#form {
    padding-top:120px;
    overflow: hidden;

    @media (min-width:576px){
        padding-top:250px;
    }
    
    h2 {
        font-size: 39px;
        letter-spacing: 1px;
        font-weight: 100;
        font-family: "Gorgone";
        text-align: center;
        color: #f5f5f5;

        @media (min-width:576px){
            font-size: 85px;
            letter-spacing: 1px;
        }
    }

    h4{
        color: #f5f5f5;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        margin-top:24px;

        @media (min-width:576px){
        }
    }
}


.slider-image {
    margin: 0 auto;
    width: 100%;
}

.slider-image img {
    width: 100%;
}


.slide.slick-slide.prev {
    position: relative;
    left: 9.3%;
    transform: scale(0.9);
    z-index: 99;
}

.slide.slick-slide.next {
    transform: scale(0.9);
    right: 9.3%;
    position: relative;
    z-index: 99;
}
.slide.slick-slide.slick-current + .slick-active{
    position: relative;
    z-index: 999;
    transform: scale(1);
}
.slick-initialized .slick-slide {
    display: block;
    transform: scale(0.96);
}
.slick-initialized .slick-slide {
    display: block;

    @media (min-width:551px) {
        transform: scale(0.9);
    }
}
.slide.slick-slide{
    @media (max-width:576px) {
        .slider-text{
            background: white;
            .text {
                display: block;
                font-size: 10px;
                margin-top: 30px;
            }
    
            .above-name {
                color: black;
                font-size: 7px;
            }
            .name {
                color: black;
                font-size: 29px;
            }
        }
    }
}
.slide.slick-slide.slick-current {
    @media (max-width:576px) {
        .slider-text{
            background: white;
            .text {
                display: block;
                font-size: 10px;
                margin-top: 30px;
            }
    
            .above-name {
                color: black;
                font-size: 7px;
            }
            .name {
                color: black;
                font-size: 29px;
            }
        }
    }
    @media (min-width:551px) {
        right: -30px !important;
        position: relative;
    }
}
.slide.slick-slide.slick-cloned[tabindex="-1"] .slider-text {
    box-shadow: none !important;
}
.slide.slick-slide.slick-current+.slick-active+.slick-active {
    position: relative;
    left: -30px;
}
.slider-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width:576px){
        min-height: 210px;
        padding: 20px;
    }

    @media (min-width:769px){
        min-height: 340px;
        padding: 40px;
    }

    .text {
        margin-top: 60px;
        display: none;

        @media (min-width:576px){
            margin-top: 20px;
        }
    }
}
.above-name {
    color: white;
}
.slick-current  + .slick-active{
    @media (min-width:576px){
        .text {
            display: block;
        }

        .slider-text {
            background: white;
        }
        .above-name {
            color: black;
        }
        .name {
            color: black;
        }
    }
    
}
.slick-active{
    margin: 0 auto;
    width: 100%;
    box-shadow: -11px 11px 21px #00000047;
}
.slide.slick-slide.slick-current+.slick-active+.slick-active{
    margin: 0 auto;
    width: 100%;
    box-shadow: 11px 11px 21px #00000047;
}
.name {
    font-size: 50px;
    text-align: left;
    font-family: $font-text;
    color: white;
    margin-top: 20px;
}



form.wpcf7-form.init {
    width: 100%;
    margin: 0 auto;
    margin-top: 55px;

    @media (min-width:576px){
        margin-top: 140px;
    }

    @media (min-width:769px){
        width: 100%;
    }

    @media (min-width:1281px){
        width: 1250px;
    }

    h3 {
        font-size: 33px;
        color: white;
        width: 100%;
        text-align: center;
        font-family: $font-text;
        margin: 0 auto;
        font-weight: 400;
        margin-bottom: 10px;

        @media (min-width:576px){
            font-size: 40px;
            width: 1250px;
            margin-bottom: 21px;
            text-align: left;
        }
    }

    .fieldbox {
        display: flex;
        flex-wrap: wrap;

        @media (min-width:576px) {
            margin-bottom: 12px;
        }

        &> span {
            width: 100%;
            padding: 0 6px;
            margin-bottom: 10px;

            @media (min-width:576px) {
                margin-bottom: 0;
                width:50%;
                flex:0 0 50%;
            }

            &.radio{
                width: 100%;
                flex: 0 0 100%;
            }
        
            select {
                font-size: 14px;
                width: 100%;
                padding: 15px;
                border: none;

                @media (min-width:576px) {
                    font-size: 19px;
                    padding: 23px 35px;
                }

                option{

                    &:first-child {
                        display: none;
                    }
                }
            }
        
            input {
                width: 100%;
            }   

            input[type="radio"] {
                width: auto;
                margin-left: 35px;
                margin-right: 25px;
            }
        }
    }

    
    .wpcf7-radio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        label {
            display: flex;
            color: black;
            align-items: center;

             span {
                color: black;
                font-size: 14px;

                @media (min-width:576px){
                    font-size: 19px;
                }
            }
        }
        span.wpcf7-list-item {
            width: 100%;
            flex: 100% ;
            background: white;
            border: none;
            padding: 15px 0;
            margin-top: 10px;

            @media (min-width:576px){
                width: calc(50% - 12px);
                flex: 0 0 calc(50% - 6px);
                padding: 25px 0;
            }
        }
    }
    
    .submit-form {
        display: flex;
        align-items: center;
        justify-content: center;

            
        input.wpcf7-form-control.wpcf7-submit {
            font-weight: 400;
            padding: 21.5px 102px;
            background: #ffffff26;
            color: white;
            border: 1px solid white;
            font-size: 14px;

                @media (max-width:551px){
                    width: calc(100% - 12px);
                }

                @media (min-width:576px){
                    font-size: 20px;
                }
        }
    }
}
